.analytics-about {
    &__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(40px);
        padding: rem(70px) 0 0;
    }

    &__content {
        @include tablet {
            max-width: 47.5vw;
        }
    }

    &__item {
        padding: rem(25px) 0;
        border-bottom: 1px solid var(--white);
    }
}