.best-products {
	background: var(--white);
	color: var(--background-blue);

		&__wrapper {
		}

		&__container {
			grid-row-gap: 0;
		}

		&__title-container {
			grid-column: span 4;
		}

		&__title {
			font-size: clamp(2rem, calc(1.0750rem + 4.6250vw), 6.625rem);
			color: var(--main-orange);
		}

		&__info {
			grid-column: span 4;

			@include tablet {
				grid-column: span 2;
			}
		}

		&__intro {
			position: relative;
			grid-column: span 4;
			margin: rem(100px) 0 0;

			@include tablet {
				margin: rem(120px) 0 0;
			}

			img {
				width: 100%;
			}
		}
}

.product-info {
	padding: rem(40px) 0 0;

	@include tablet {
		padding: rem(80px) 0 0;
	}

	&__header {
		padding: 0 0 rem(34px) 0;
		border-bottom: 1px solid rgba(black, 0.4);
	}

	&__text {
		font-weight: 400;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1rem;
		padding: rem(18px) 0 0;

		@include tablet {
			gap: 0;
		}

		.product-info__text {
			position: relative;
    		padding: 0 0 0 1.125rem;

			&::before {
				content: "";
				position: absolute;
				display: block;
				top: .125rem;
				left: 0;
				width: .625rem;
				height: .625rem;
				border-radius: 50%;
				background-color: var(--main-orange);
			}
		}
	}

	&__block {
		max-width: rem(285px);
	}

	&__link {
		width: 100%;
		color: var(--white);
		text-transform: uppercase;
		text-align: center;

		border: 1px solid var(--white);
        border-radius: rem(26px);
		padding: rem(16px) 0; 

		@include tablet {
			width: auto;
			border: none;
			border-radius: 0;
			padding: 0;
		}
	}
}

.product-info--white {
	.product-info__header {
		border-bottom: 1px solid var(--white);
	}
}


