.intro {
    height: 100vh;
    display: flex;
    background-image: url('/img/intro-bg.jpg');

    &__wrapper {
    }

    &__container {
        
    }

    &__content {
        grid-area: 1/1/1/5;
        z-index: 1;
    }

    &__title {
        margin: 0 0 rem(40px) 0;

        @include tablet {
            margin: 0 0 rem(64px) 0;
        }
    }

    &__info {
        display: flex;
        align-items: center;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            gap: rem(121px);
        }
    }

    &__animation {
        order: 2;

        @include tablet {
            order: 1;
        }
    }

    &__image {
        width: 100%;
    }

    &__about {
        font-size: rem(18px);
        line-height: 1.1;
        font-weight: 300;

        max-width: rem(403px);
        order: 1;

        @include tablet {
            font-size: rem(22px);
            order: 2;
        }
    }

    &__social {
        display: flex;
        position: fixed;
        bottom: rem(30px);
        left: 0;
        width: 100%;
        mix-blend-mode: difference;
    }

    &__block {
        display: flex;
        width: 100%;
        padding: 0 rem(20px);

        @include tablet {
            padding: 0 rem(40px);
        }
    }

    &__social-list {
        display: flex;
    }

    &__social-item {
        padding: 0 rem(40px) 0 0;
    }

    &__social-link {
        font-size: 1rem;
        text-transform: uppercase;
        color: var(--white);
    }

    &__contact {
        margin-left: auto;
        font-size: 1rem;
        color: var(--white);
        text-transform: uppercase;
    }


    &__circle {
        position: absolute;
        //bottom: rem(85px);
        //left: rem(260px);
        width: clamp(rem(320px), 24vw, rem(480px));
        height: clamp(rem(320px), 24vw, rem(480px));

        background-color: var(--heaven-blue);
        filter: blur(200px);
    }

    &__star {
        position: absolute;
        //bottom: rem(65px);
        //left: rem(261px);
    }
}
