.accordion {
    &__item {
        padding: rem(35px) 0 rem(35px) 0;
        border-top: 1px solid var(--text-color);
        border-bottom: 1px solid var(--text-color);

        cursor: pointer;

        &--open {
            border-bottom: none;
            .accordion__box {
                display: block;
            }

            .accordion__button {
                transform: rotate(0deg);
            }
        }

        &:hover {
            &__title {
                color: var(--main-orange);
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box {
        display: none;
    }

    &__button {
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out;
    }

    &__text {
        padding: rem(30px) 0;
    }
}