.footer--main {
    position: relative;
    z-index: 10;

    background-color: var(--heaven-blue);

    &.footer__container--top {
        padding: rem(80px) 0 0;
        @include tablet {
            padding: rem(120px) 0 0;
        }
    }

    .footer__social,
    .footer__mail {
        display: flex;
        flex-direction: column;
        padding: rem(30px) 0;
        border-top: 1px solid rgba(white, 0.6);
        
        @include tablet {
            display: grid;
            grid-template-columns: rem(260px) 1fr;
            grid-gap: rem(40px);
            padding: 0;
            border: none;
        }
    }

    .footer__mail-title {
        padding: rem(50px) 0 0;

        @include tablet {
            padding: 0;
        }
    }

    .footer__mail-link {
        word-break: break-all;
    }

    .footer__block {
        grid-column: span 4;
        display: flex;
        justify-content: center;
        width:100%;
        padding: rem(80px) 0 rem(100px);

        @include tablet {
            padding: rem(120px) 0;
        }
    }
}


