/* Animation */

@keyframes fadeIn {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}

@keyframes fadeInTop {
  0% {
      opacity:0;
      transform:translateY(100%);
  }
  100% {
      opacity:1;
      transform:translateY(0);
  }
}

@keyframes ticker-left {
  0%   { transform: translate(0%, 0); }
  100% { transform: translate(-141.5vw, 0); }
}

@keyframes ticker-right {
  0% { transform: translate(-141.5vw, 0); }
  100%   { transform: translate(0%, 0); }
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

/* Button and link animate */

.link-animate {
  @include tablet {
    --text-color: #fff;
    --font-size: 16px;
    --duration: .26s;
    --font-shadow: 17px;

    display: flex;
    overflow: hidden;

    line-height: var(--font-size);
    outline: none;
    text-decoration: none;
    transform: translateY(var(--y)) translateZ(0);
    transition: transform var(--duration) ease;
    text-shadow: 0 var(--font-shadow) 0 var(--text-color);

    span {
      display: block;
      backface-visibility: hidden;
      transition: transform var(--duration) ease;
      transform: translateY(var(--m)) translateZ(0);
      $i: 1;
      @while $i < 24 {
        &:nth-child(#{$i}) {
          transition-delay: $i / 20 + s;
        }
        $i: $i + 1;
      }
    }

    &:hover {
      color: var(--text-color);
      span {
        --m: calc(var(--font-size) * -1);
      }
    }
  }
}

