.text {
    &--uppercase {
        text-transform: uppercase;
    }
    &--italic {
        font-style: italic;
    }
    &--light {
        font-weight: 300;
    }
    &--regular {
        font-weight: 400;
    }

    // Colors
    &--white {
        color: var(--white);
    }
    &--black {
        color: var(--black);
    }
    &--bright-blue {
        color: var(--bright-blue);
    }
    &--orange {
        color: #E74A26;
    }
}

.list-style {
    &--dot {
        li {
            padding: 0 0 rem(8px) rem(16px);
            position: relative;

            &::before {
                @include pseudo-element();
                left: 0;
                top: rem(5px);
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--text-color);
            }
        }
    }

    &--number {
        li {
            padding: 0 0 rem(30px) rem(55px);
            position: relative;
            counter-increment: step-counter;

            &::before {
                content: counter(step-counter);
                position: absolute;
                left: 0;
                top: rem(-9px);
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(40px);
                height: rem(40px);
                border-radius: 50%;
                border: 1px solid var(--text-color);
            }
        }
    }

    &--time {
        li {
            padding: 0 0 rem(4px) rem(16px);
            position: relative;

            &::before {
                content: '×';
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

@for $i from 1 through 3 {
    .text--#{ nth(null left right center, $i % 4 + 1) } { 
        text-align: #{ nth(null left right center, $i % 4 + 1) };
    }
}

@include mobile {
    @for $i from 1 through 3 {
        .small-text--#{ nth(null left right center, $i % 4 + 1) } { 
          text-align: #{ nth(null left right center, $i % 4 + 1) };
        }
    }
}

@include tablet {
    @for $i from 1 through 3 {
        .medium-text--#{ nth(null left right center, $i % 4 + 1) } { 
          text-align: #{ nth(null left right center, $i % 4 + 1) };
        }
    }
}

@include desktop {
    @for $i from 1 through 3 {
        .large-text--#{ nth(null left right center, $i % 4 + 1) } { 
          text-align: #{ nth(null left right center, $i % 4 + 1) };
        }
    }
}

@include bgdesktop {
    @for $i from 1 through 3 {
        .xlarge-text--#{ nth(null left right center, $i % 4 + 1) } { 
          text-align: #{ nth(null left right center, $i % 4 + 1) };
        }
    }
}




