.service-breakdown {
    &__container {
        padding: rem(65px) 0;

        &:last-child {
            border-bottom: 1px solid var(--white);
        }
    }

    &__ticker {
        padding: rem(15px) 0;
        overflow: hidden;
        border-top: 1px solid var(--white);
        border-bottom: 1px solid var(--white);
    }

    &__list {
        display: flex;
        animation: ticker-left 70s linear infinite;
    }

    &__item {
        padding: 0 0 0 rem(15px);
        color: var(--main-orange);
    }

    &__title {
        span {
            color: var(--main-orange);
        }
    }
}